@model IQueryable<Card>

<form asp-action="Search" method="post">
    <input type="text" name="keyword" value="Test" />
    <input type="submit" asp-controller="Card" asp-action="Search" asp-route-keyword=""> Search </input>
</form>

<hr />

@foreach (Card c in Model)
{
    <img src="@c.Image" />
    <hr />
}


