@model IQueryable<Card>

<hr />
@foreach (Card c in Model)
{
    <h3> c.Name </h3>
    <h4> c.ManaCost </h4>
    <h4> c.ConvertedMana </h4>
    <h4> c.Type </h4>
    <h4> c.CardText </h4>
    <h4> c.FlavorText </h4>
    <h4> c.Expansion </h4>
    <h4> c.Rarity </h4>
    <h4> c.CardNumber </h4>
    <h4> c.Image </h4>
}